@tailwind base;
@tailwind components;
@tailwind utilities;

/* barlow-200 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/barlow-v12-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''), url('/fonts/barlow-v12-latin-200.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/barlow-v12-latin-200.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/barlow-v12-latin-200.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/barlow-v12-latin-200.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/barlow-v12-latin-200.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-300 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/barlow-v12-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''), url('/fonts/barlow-v12-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/barlow-v12-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/barlow-v12-latin-300.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/barlow-v12-latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/barlow-v12-latin-300.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/barlow-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), url('/fonts/barlow-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/barlow-v12-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/barlow-v12-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/barlow-v12-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/barlow-v12-latin-regular.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-500 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/barlow-v12-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''), url('/fonts/barlow-v12-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/barlow-v12-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/barlow-v12-latin-500.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/barlow-v12-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/barlow-v12-latin-500.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-500italic - latin */
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/barlow-v12-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''), url('/fonts/barlow-v12-latin-500italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/barlow-v12-latin-500italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/barlow-v12-latin-500italic.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/barlow-v12-latin-500italic.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/barlow-v12-latin-500italic.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-600 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/barlow-v12-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''), url('/fonts/barlow-v12-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/barlow-v12-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/barlow-v12-latin-600.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/barlow-v12-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/barlow-v12-latin-600.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-700 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/barlow-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''), url('/fonts/barlow-v12-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/barlow-v12-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/barlow-v12-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/barlow-v12-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/barlow-v12-latin-700.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-800 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/barlow-v12-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''), url('/fonts/barlow-v12-latin-800.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/barlow-v12-latin-800.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/barlow-v12-latin-800.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/barlow-v12-latin-800.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/barlow-v12-latin-800.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-900 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/barlow-v12-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''), url('/fonts/barlow-v12-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/barlow-v12-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/barlow-v12-latin-900.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/barlow-v12-latin-900.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/barlow-v12-latin-900.svg#Barlow') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'SpaceGroteskLight';
  src: url('/fonts/SpaceGrotesk-Light.ttf');
}
@font-face {
  font-family: 'SpaceGroteskBold';
  src: url('/fonts/SpaceGrotesk-Bold.ttf');
}
@font-face {
  font-family: 'SpaceGroteskRegular';
  src: url('/fonts/SpaceGrotesk-Regular.ttf');
}

@font-face {
  font-family: 'SpaceGroteskVariable';
  src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'SpaceGroteskMedium';
  src: url('/fonts/SpaceGrotesk-Medium.ttf');
}

@font-face {
  font-family: 'SpaceGroteskSemiBold';
  src: url('/fonts/SpaceGrotesk-SemiBold.ttf');
}

.custom-scroll::-webkit-scrollbar {
  width: 0.7em;
}
.custom-scroll::-webkit-scrollbar-track {
  background-color: #e7e7e7;
  border-radius: 100vh;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-image: linear-gradient(73deg, #06b6d4, #3b82f6);
  border-radius: 100vh;
}
body {
  --tw-bg-opacity: 1;
  background-color: rgb(17 17 33 / var(--tw-bg-opacity));
}

.background-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(17 17 33 / var(--tw-bg-opacity));
}

@layer utilities {
  .visionglance {
    position: relative;
    background-color: #111121;
  }
  .border-color {
    background-color: #404041a4;
  }
  .visionGlance-1::after {
    content: ' ';
    position: absolute;
    left: 100%;
    top: 50%;
    width: 50%;
    height: 1px;
    background-color: hsla(0, 0%, 100%, 0.5);
    z-index: -1;
  }

  .visionGlance-2::after {
    content: ' ';
    position: absolute;
    left: 50%;
    top: 20%;
    width: 30%;
    transform: rotate(-90deg);
    height: 1px;
    background-color: #ffffff80;
    z-index: -1;
  }
  .visionGlance-3::after {
    content: ' ';
    position: absolute;
    left: 20%;
    top: 20%;
    width: 30%;
    transform: rotate(-90deg);
    height: 1px;
    background-color: #ffffff80;
    z-index: -1;
  }

  .card-side-border::after {
    content: ' ';
    position: absolute;
    left: 31.5%;
    top: 10%;
    width: 37%;
    transform: rotate(-90deg);
    height: 4px;
    background-color: #ffffff80;
  }
  .App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .large_container {
    padding: 6.9rem 6rem;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 91.666667%;
  }
}

@media only screen and (max-width: 600px) {
  .card-side-border::after {
    display: none;
  }
}
